---
import IconLogo from "~icons/local/logo";

import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="space-y-6 text-center">
    <IconLogo class="inline-block align-middle text-xl text-primary" />

    <div>
      <h1 class="text-3xl font-bold uppercase tracking-wide">Monoku</h1>
      <p class="text-primary">We go beyond</p>
    </div>
  </header>

  <main class="my-8 text-center">
    <h2 class="font-sans text-2xl font-bold text-secondary">
      Epic Astro Starter Kit
    </h2>
  </main>

  <footer class="container text-center text-sm">
    <p>Monoku SAS &copy; {new Date().getFullYear()}</p>
    <p>Made with ❤️ - in the world</p>
  </footer>
</Layout>
