---
import { Icon } from "astro-icon/components";

import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>
    <div class="sr-only">Monoku</div>
    <Icon
      class="inline-block align-middle text-xl text-purple-500"
      name="logo"
      size={124}
    />
  </h1>
</Layout>
