---
import { Head } from "astro-capo";
import { AstroFont } from "astro-font";
import { type Props as SeoProps, SEO } from "astro-seo";

import "@/styles/global.css";

interface Props {
  /**
   * Add or override Astro-seo props to customize SEO per page
   */
  head?: Partial<SeoProps>;
}

const { head: seo = {} } = Astro.props;
---

<html lang="en">
  <Head>
    <SEO
      titleTemplate="Monoku | %s"
      title="Epic Astro Starter"
      charset="UTF-8"
      {...seo}
      extend={{
        ...seo.extend,
        meta: [
          {
            content: "width=device-width, initial-scale=1.0",
            name: "viewport",
          },
          {
            content: Astro.generator,
            name: "generator",
          },
          ...(seo.extend?.meta || []),
        ],
      }}
    />
    <AstroFont
      config={[
        {
          cssVariable: "font-family-sans",
          display: "swap",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap",
          name: "Poppins",
          preload: true,
          src: [],
        },
      ]}
    />
  </Head>
  <body class="grid min-h-screen place-content-center">
    <slot />
  </body>
</html>
