---
import { SEO } from "astro-seo";
import { Head } from "astro-capo";
import { AstroFont } from "astro-font";
---

<html lang="en">
  <Head>
    <SEO
      extend={{
        meta: [
          {
            content: "width=device-width, initial-scale=1.0",
            name: "viewport",
          },
          {
            content: Astro.generator,
            name: "generator",
          },
        ],
      }}
      titleTemplate="Monoku | %s"
      title="Epic Astro Starter"
      charset="UTF-8"
    />
    <AstroFont
      config={[
        {
          cssVariable: "font-family-sans",
          display: "swap",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap",
          name: "Poppins",
          preload: true,
          src: [],
        },
      ]}
    />
  </Head>
  <body class="grid min-h-screen place-content-center bg-slate-50">
    <slot />
  </body>
</html>
