---
import { Head } from "astro-capo";
---

<html lang="en">
  <Head>
    <meta charset="utf-8" />

    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />

    <title>Astro</title>
  </Head>
  <body class="grid min-h-screen place-content-center bg-slate-50">
    <slot />
  </body>
</html>
