---
import { SEO } from "astro-seo";
import { Head } from "astro-capo";
---

<html lang="en">
  <Head>
    <SEO
      extend={{
        meta: [
          {
            content: "width=device-width, initial-scale=1.0",
            name: "viewport",
          },
          {
            content: Astro.generator,
            name: "generator",
          },
        ],
      }}
      titleTemplate="Monoku | %s"
      title="Epic Astro Starter"
      charset="UTF-8"
    />
  </Head>
  <body class="grid min-h-screen place-content-center bg-slate-50">
    <slot />
  </body>
</html>
